h1 { 
    color:  rgb(88, 88, 230);
    font-family: fantasy; 
    font-size: 60px;
}


img.resize {
    max-width:40%;
    max-height:40%;
  }

body {
    background-image: url(https://images.assetsdelivery.com/compings_v2/mcherevan/mcherevan1810/mcherevan181000154.jpg); 
    background-size: 200% 100%;}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large
    
}


P {
    color: rgb(2, 2, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}

h3 {
    font-style: italic;
    font-size: 30px;


}
.aligncenter {
    text-align: center;
    align-items: center;
}

ul { 
    color:  rgb(88, 88, 230);
    font-size: 25px;
    display: table;
    margin: 0 auto;
    
}

